<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Book List</title>
	</head>
	<body>
		<a th:href="'/'">Home</a><br/>
		<a th:href="'/createbook'">Create New Book</a>
		<h1>Book List</h1>
		<form action="delbook" method="post" th:object="${bl}">
		<table>
			<tr>
				<td>
					<input type="submit" value="Delete"/>
				</td>
			</tr>
			<tr>
				<td>Title</td>
			</tr>
			<tr th:each="book : ${books}">
				<td>
					<input type="checkbox" th:field="*{books}" th:value="${book.id}"/>
					<a th:href="@{__${#httpServletRequest.requestURI}__/{id}(id=${book.id})}" th:text="${book.title}" />
				</td>
			</tr>
		</table>
		</form>
	</body>
</html>