<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Create Category</title>
	</head>
	<body>
		<a th:href="'/categories'">Go Back</a>
		<form action="savecategory" method="post" th:object="${cp}">
		<table>
			<tr>
				<td>Title</td>
				<td>
					<input type="text" name="title"/>
				</td>
			</tr>
			<tr>
				<td>Description</td>
				<td>
					<input type="text" name="description"/>
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="Submit"/>
				</td>
			</tr>
		</table>
		</form>
	</body>
</html>